
  .img-thumbnail {
    width: 40px;
  }

  .grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px, 1fr));
    padding: 10px;
    grid-gap: 4px;
    margin-top: 10px;
  }
  .responsive{
    max-width: 100%;
    height: auto;
    padding: 10px;
  }
  .grid-container1{
    display: grid;
    grid-template-rows: auto auto auto;
    padding: 10px;
  }
  .grid-table{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 30px;
    text-align: center;
  }
  .button{
    padding: 10px;
    width: 300px;
    background-color: rgb(240, 225, 11);
    border-radius: 20px;
  }
 
